##############################################################################
#
# actions.rc
#
##############################################################################

%actions = (
    # define keywords and actions here
    'deploy test' => '/foo/bar/deploy-test.sh',




);

1;

