##############################################################################
#
# actions.rc
#
##############################################################################

%actions = ( 
    "deploy test" => '/foo/bar/deploy-test.sh', 
    "sdf" => 'echo sdf',
);









##############################################################################
1;
