##############################################################################
#
# actions.rc
#
##############################################################################

%actions = (
    
    'deploy' => '/foo/bar/deploy-test.sh',




);

1;

